.App {
  font-family: 'Open Sans', cursive;
 display:flex;
 margin: 0 auto;
max-width: 700px;
flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 

.usersLists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
}

.usersInfo {
  display: flex;
  width: 150px;
  padding: 15px 0;
  flex-direction: column;
}

.usersInfo__add{
  width:120px;
  height: 32px;
  background-color: #b1cdf1;
  color: #1877F2;
  border: none;
  cursor: pointer;
}

.mainNavigation{
  display:flex;
  justify-content: space-around;
  margin-top: 30px;
}

.mainNavigation h1{
  margin:0;
}
.mainNavigation a {
 
  text-decoration: none;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

.mainNavigation a:hover{
  transform: translateY(-7px);
}
